@font-face {
  font-family: 'font-feiralabs';
  src:  url('fonts/font-feiralabs.eot?masht5');
  src:  url('fonts/font-feiralabs.eot?masht5#iefix') format('embedded-opentype'),
    url('fonts/font-feiralabs.ttf?masht5') format('truetype'),
    url('fonts/font-feiralabs.woff?masht5') format('woff'),
    url('fonts/font-feiralabs.svg?masht5#font-feiralabs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fl-"], [class*=" fl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-feiralabs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fl-headphones-simple-solid:before {
  content: "\e985";
}
.fl-headphones-simple-regular:before {
  content: "\e986";
}
.fl-fan-table-solid:before {
  content: "\e987";
}
.fl-fan-table-regular:before {
  content: "\e988";
}
.fl-lightbulb-on-solid:before {
  content: "\e989";
}
.fl-lightbulb-on-regular:before {
  content: "\e98a";
}
.fl-keyboard-and-mouse-solid:before {
  content: "\e98b";
}
.fl-keyboard-and-mouse-regular:before {
  content: "\e98c";
}
.fl-mouse-solid:before {
  content: "\e98d";
}
.fl-mouse-regular:before {
  content: "\e98e";
}
.fl-keyboard-solid:before {
  content: "\e98f";
}
.fl-keyboard-regular:before {
  content: "\e990";
}
.fl-mobile-screen-button-solid:before {
  content: "\e991";
}
.fl-mobile-screen-button-regular:before {
  content: "\e992";
}
.fl-wind-regular-solid:before {
  content: "\e993";
}
.fl-wind-regular:before {
  content: "\e994";
}
.fl-charging-station-solid:before {
  content: "\e995";
}
.fl-charging-station-regular:before {
  content: "\e996";
}
.fl-speaker-solid:before {
  content: "\e997";
}
.fl-speaker-regular:before {
  content: "\e998";
}
.fl-speakers-solid:before {
  content: "\e999";
}
.fl-speakers-regular:before {
  content: "\e99a";
}
.fl-utensils-solid:before {
  content: "\e99b";
}
.fl-utensils-regular:before {
  content: "\e99c";
}
.fl-umbrella-simple-solid:before {
  content: "\e99d";
}
.fl-umbrella-simple-regular:before {
  content: "\e99e";
}
.fl-image-solid:before {
  content: "\e99f";
}
.fl-image-regular:before {
  content: "\e9a0";
}
.fl-spray-can-spark-solid:before {
  content: "\e9a1";
}
.fl-spray-can-spark-regular:before {
  content: "\e9a2";
}
.fl-layer-group-solid:before {
  content: "\e9a3";
}
.fl-layer-group-regular:before {
  content: "\e9a4";
}
.fl-broom-solid:before {
  content: "\e9a5";
}
.fl-broom-regular:before {
  content: "\e9a6";
}
.fl-mug-saucer-solid:before {
  content: "\e9a7";
}
.fl-mug-saucer-regular:before {
  content: "\e9a8";
}
.fl-bottler-and-glass-water-solid:before {
  content: "\e9a9";
}
.fl-bottler-and-glass-water-regular:before {
  content: "\e9aa";
}
.fl-glass-water-solid:before {
  content: "\e9ab";
}
.fl-glass-water-regular:before {
  content: "\e9ac";
}
.fl-bottle-water-solid:before {
  content: "\e9ad";
}
.fl-bottle-water-regular:before {
  content: "\e9ae";
}
.fl-spoon-solid:before {
  content: "\e9af";
}
.fl-spoon-regular:before {
  content: "\e9b0";
}
.fl-house-heart-solid:before {
  content: "\e9b1";
}
.fl-house-heart-regular:before {
  content: "\e9b2";
}
.fl-puzzle-piece-solid:before {
  content: "\e9b3";
}
.fl-puzzle-piece-regular:before {
  content: "\e9b4";
}
.fl-bullseye-arrow-solid:before {
  content: "\e9b5";
}
.fl-bullseye-arrow-regular:before {
  content: "\e9b6";
}
.fl-music-solid:before {
  content: "\e9b7";
}
.fl-music-regular:before {
  content: "\e9b8";
}
.fl-cubes-stacked-solid:before {
  content: "\e9b9";
}
.fl-cubes-stacked-regular:before {
  content: "\e9ba";
}
.fl-arrow-top-solid:before {
  content: "\e9bb";
}
.fl-arrow-top-regular:before {
  content: "\e9bc";
}
.fl-arrow-left-solid:before {
  content: "\e9bd";
}
.fl-arrow-left-regular:before {
  content: "\e9be";
}
.fl-arrow-down-solid:before {
  content: "\e9bf";
}
.fl-arrow-down-regular:before {
  content: "\e9c0";
}
.fl-comment-solid:before {
  content: "\e9c1";
}
.fl-comment-regular:before {
  content: "\e9c2";
}
.fl-plus-solid:before {
  content: "\e9c3";
}
.fl-plus-regular:before {
  content: "\e9c4";
}
.fl-brands-amex-regular:before {
  content: "\e96e";
}
.fl-brands-amex-solid:before {
  content: "\e96f";
}
.fl-brands-diners-regular:before {
  content: "\e970";
}
.fl-brands-diners-solid:before {
  content: "\e971";
}
.fl-brands-hiper-regular:before {
  content: "\e972";
}
.fl-brands-hiper-solid:before {
  content: "\e973";
}
.fl-brands-jcb-regular:before {
  content: "\e974";
}
.fl-brands-jcb-solid:before {
  content: "\e975";
}
.fl-brands-master-card-regular:before {
  content: "\e976";
}
.fl-brands-master-card-solid:before {
  content: "\e977";
}
.fl-brands-pix-regular:before {
  content: "\e978";
}
.fl-brands-pix-solid:before {
  content: "\e979";
}
.fl-brands-visa-regular:before {
  content: "\e97a";
}
.fl-brands-visa-solid:before {
  content: "\e97b";
}
.fl-badge-percent-regular:before {
  content: "\e900";
}
.fl-badge-percent-solid:before {
  content: "\e901";
}
.fl-circle-user-regular:before {
  content: "\e902";
}
.fl-circle-user-solid:before {
  content: "\e903";
}
.fl-coins-regular:before {
  content: "\e904";
}
.fl-coins-solid:before {
  content: "\e905";
}
.fl-plane-departure-regular:before {
  content: "\e906";
}
.fl-plane-departure-solid:before {
  content: "\e907";
}
.fl-ticket-regular:before {
  content: "\e908";
}
.fl-ticket-solid:before {
  content: "\e909";
}
.fl-user-group-regular:before {
  content: "\e90a";
}
.fl-user-group-solid:before {
  content: "\e90b";
}
.fl-envelope-regular:before {
  content: "\e90c";
}
.fl-envelope-solid:before {
  content: "\e90d";
}
.fl-hand-holding-dollar-regular:before {
  content: "\e90e";
}
.fl-hand-holding-dollar-solid:before {
  content: "\e90f";
}
.fl-handshake-regular:before {
  content: "\e910";
}
.fl-handshake-solid:before {
  content: "\e911";
}
.fl-list-check-regular:before {
  content: "\e912";
}
.fl-list-check-solid:before {
  content: "\e913";
}
.fl-truck-regular:before {
  content: "\e914";
}
.fl-truck-solid:before {
  content: "\e915";
}
.fl-users-line-regular:before {
  content: "\e916";
}
.fl-users-line-solid:before {
  content: "\e917";
}
.fl-warehouse-regular:before {
  content: "\e918";
}
.fl-warehouse-solid:before {
  content: "\e919";
}
.fl-angle-down-solid:before {
  content: "\e91a";
}
.fl-angle-left-regular:before {
  content: "\e91b";
}
.fl-angle-left-solid:before {
  content: "\e91c";
}
.fl-angle-right-solid:before {
  content: "\e91d";
}
.fl-angle-up-solid:before {
  content: "\e91e";
}
.fl-bars-regular:before {
  content: "\e91f";
}
.fl-bars-solid:before {
  content: "\e920";
}
.fl-cart-regular:before {
  content: "\e921";
}
.fl-cart-solid:before {
  content: "\e922";
}
.fl-clipboard-list-regular:before {
  content: "\e923";
}
.fl-clipboard-list-solid:before {
  content: "\e924";
}
.fl-cubes-regular:before {
  content: "\e925";
}
.fl-cubes-solid:before {
  content: "\e926";
}
.fl-search-glass-regular:before {
  content: "\e927";
}
.fl-search-glass-solid:before {
  content: "\e928";
}
.fl-user-regular:before {
  content: "\e929";
}
.fl-user-solid:before {
  content: "\e92a";
}
.fl-angle-down-regular:before {
  content: "\e92b";
}
.fl-angle-right-regular:before {
  content: "\e92c";
}
.fl-angle-up-regular:before {
  content: "\e92d";
}
.fl-arrow-right-regular:before {
  content: "\e92e";
}
.fl-arrow-right-solid:before {
  content: "\e92f";
}
.fl-box-regular:before {
  content: "\e930";
}
.fl-box-solid:before {
  content: "\e931";
}
.fl-check-regular:before {
  content: "\e932";
}
.fl-check-solid:before {
  content: "\e933";
}
.fl-gauge-regular:before {
  content: "\e934";
}
.fl-gauge-solid:before {
  content: "\e935";
}
.fl-medal-regular:before {
  content: "\e936";
}
.fl-medal-solid:before {
  content: "\e937";
}
.fl-store-regular:before {
  content: "\e938";
}
.fl-store-solid:before {
  content: "\e939";
}
.fl-verified-regular:before {
  content: "\e93a";
}
.fl-verified-solid:before {
  content: "\e93b";
}
.fl-dmo-regular:before {
  content: "\e93c";
}
.fl-barcode-regular:before {
  content: "\e93d";
}
.fl-barcode-solid:before {
  content: "\e93e";
}
.fl-expand-glass-ragular:before {
  content: "\e93f";
}
.fl-floater-regular:before {
  content: "\e940";
}
.fl-futbol-regular:before {
  content: "\e941";
}
.fl-garantia-25-regular:before {
  content: "\e942";
}
.fl-home-regular:before {
  content: "\e943";
}
.fl-home-solid:before {
  content: "\e944";
}
.fl-location-dot-regular:before {
  content: "\e945";
}
.fl-location-dot-solid:before {
  content: "\e946";
}
.fl-moto-regular:before {
  content: "\e947";
}
.fl-two-card-regular:before {
  content: "\e948";
}
.fl-arrows-rotate-regular:before {
  content: "\e949";
}
.fl-bat-regular:before {
  content: "\e94a";
}
.fl-bat-solid:before {
  content: "\e97d";
}
.fl-circle-question-regular:before {
  content: "\e94b";
}
.fl-circle-question-solid:before {
  content: "\e97e";
}
.fl-clock-regular:before {
  content: "\e94c";
}
.fl-clock-solid:before {
  content: "\e97c";
}
.fl-descount-regular:before {
  content: "\e94d";
}
.fl-fire-regular:before {
  content: "\e94e";
}
.fl-fire-solid:before {
  content: "\e97f";
}
.fl-heart-regular:before {
  content: "\e94f";
}
.fl-heart-solid:before {
  content: "\e980";
}
.fl-lock-regular:before {
  content: "\e950";
}
.fl-motofeira-regular:before {
  content: "\e951";
}
.fl-shild-check-regular:before {
  content: "\e952";
}
.fl-tag-regular:before {
  content: "\e953";
}
.fl-tag-solid:before {
  content: "\e954";
}
.fl-truck-clock-regular:before {
  content: "\e955";
}
.fl-truck-clock-solid:before {
  content: "\e981";
}
.fl-users-regular:before {
  content: "\e956";
}
.fl-users-solid:before {
  content: "\e982";
}
.fl-bag-regular:before {
  content: "\e957";
}
.fl-beauty-regular:before {
  content: "\e958";
}
.fl-credit-card-regular:before {
  content: "\e959";
}
.fl-garantia-feira-regular:before {
  content: "\e95a";
}
.fl-new-regular:before {
  content: "\e95b";
}
.fl-star-solid:before {
  content: "\e9c5";
}
.fl-star-regular:before {
  content: "\e95c";
}
.fl-address-card-regular:before {
  content: "\e95d";
}
.fl-baby-boy-regular:before {
  content: "\e95e";
}
.fl-backpack-regular:before {
  content: "\e95f";
}
.fl-bolt-regular:before {
  content: "\e960";
}
.fl-bolt-solid:before {
  content: "\e983";
}
.fl-case-notebook-regular:before {
  content: "\e961";
}
.fl-christmas-regular:before {
  content: "\e962";
}
.fl-dress-regular:before {
  content: "\e963";
}
.fl-female-wallet-regular:before {
  content: "\e964";
}
.fl-headphone-regular:before {
  content: "\e965";
}
.fl-lingerie-regular:before {
  content: "\e966";
}
.fl-make-regular:before {
  content: "\e967";
}
.fl-male-wallet-regular:before {
  content: "\e968";
}
.fl-necessaire-regular:before {
  content: "\e969";
}
.fl-paper-regular:before {
  content: "\e96a";
}
.fl-toy-regular:before {
  content: "\e96b";
}
.fl-truck-fast-regular:before {
  content: "\e96c";
}
.fl-truck-fast-solid:before {
  content: "\e984";
}
.fl-utilities-regular:before {
  content: "\e96d";
}
