@font-face {
  font-family: 'font-feiralabs';
  src:  url('fonts/font-feiralabs.eot?ot59ge');
  src:  url('fonts/font-feiralabs.eot?ot59ge#iefix') format('embedded-opentype'),
    url('fonts/font-feiralabs.ttf?ot59ge') format('truetype'),
    url('fonts/font-feiralabs.woff?ot59ge') format('woff'),
    url('fonts/font-feiralabs.svg?ot59ge#font-feiralabs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fl-"], [class*=" fl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-feiralabs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fl-brands-amex-regular:before {
  content: "\e96e";
}
.fl-brands-amex-solid:before {
  content: "\e96f";
}
.fl-brands-diners-regular:before {
  content: "\e970";
}
.fl-brands-diners-solid:before {
  content: "\e971";
}
.fl-brands-hiper-regular:before {
  content: "\e972";
}
.fl-brands-hiper-solid:before {
  content: "\e973";
}
.fl-brands-jcb-regular:before {
  content: "\e974";
}
.fl-brands-jcb-solid:before {
  content: "\e975";
}
.fl-brands-master-card-regular:before {
  content: "\e976";
}
.fl-brands-master-card-solid:before {
  content: "\e977";
}
.fl-brands-pix-regular:before {
  content: "\e978";
}
.fl-brands-pix-solid:before {
  content: "\e979";
}
.fl-brands-visa-regular:before {
  content: "\e97a";
}
.fl-brands-visa-solid:before {
  content: "\e97b";
}
.fl-badge-percent-regular:before {
  content: "\e900";
}
.fl-badge-percent-solid:before {
  content: "\e901";
}
.fl-circle-user-regular:before {
  content: "\e902";
}
.fl-circle-user-solid:before {
  content: "\e903";
}
.fl-coins-regular:before {
  content: "\e904";
}
.fl-coins-solid:before {
  content: "\e905";
}
.fl-plane-departure-regular:before {
  content: "\e906";
}
.fl-plane-departure-solid:before {
  content: "\e907";
}
.fl-ticket-regular:before {
  content: "\e908";
}
.fl-ticket-solid:before {
  content: "\e909";
}
.fl-user-group-regular:before {
  content: "\e90a";
}
.fl-user-group-solid:before {
  content: "\e90b";
}
.fl-envelope-regular:before {
  content: "\e90c";
}
.fl-envelope-solid:before {
  content: "\e90d";
}
.fl-hand-holding-dollar-regular:before {
  content: "\e90e";
}
.fl-hand-holding-dollar-solid:before {
  content: "\e90f";
}
.fl-handshake-regular:before {
  content: "\e910";
}
.fl-handshake-solid:before {
  content: "\e911";
}
.fl-list-check-regular:before {
  content: "\e912";
}
.fl-list-check-solid:before {
  content: "\e913";
}
.fl-truck-regular:before {
  content: "\e914";
}
.fl-truck-solid:before {
  content: "\e915";
}
.fl-users-line-regular:before {
  content: "\e916";
}
.fl-users-line-solid:before {
  content: "\e917";
}
.fl-warehouse-regular:before {
  content: "\e918";
}
.fl-warehouse-solid:before {
  content: "\e919";
}
.fl-angle-down-solid:before {
  content: "\e91a";
}
.fl-angle-left-regular:before {
  content: "\e91b";
}
.fl-angle-left-solid:before {
  content: "\e91c";
}
.fl-angle-right-solid:before {
  content: "\e91d";
}
.fl-angle-up-solid:before {
  content: "\e91e";
}
.fl-bars-regular:before {
  content: "\e91f";
}
.fl-bars-solid:before {
  content: "\e920";
}
.fl-cart-regular:before {
  content: "\e921";
}
.fl-cart-solid:before {
  content: "\e922";
}
.fl-clipboard-list-regular:before {
  content: "\e923";
}
.fl-clipboard-list-solid:before {
  content: "\e924";
}
.fl-cubes-regular:before {
  content: "\e925";
}
.fl-cubes-solid:before {
  content: "\e926";
}
.fl-search-glass-regular:before {
  content: "\e927";
}
.fl-search-glass-solid:before {
  content: "\e928";
}
.fl-user-regular:before {
  content: "\e929";
}
.fl-user-solid:before {
  content: "\e92a";
}
.fl-angle-down-regular:before {
  content: "\e92b";
}
.fl-angle-right-regular:before {
  content: "\e92c";
}
.fl-angle-up-regular:before {
  content: "\e92d";
}
.fl-arrow-right-regular:before {
  content: "\e92e";
}
.fl-arrow-right-solid:before {
  content: "\e92f";
}
.fl-box-regular:before {
  content: "\e930";
}
.fl-box-solid:before {
  content: "\e931";
}
.fl-check-regular:before {
  content: "\e932";
}
.fl-check-solid:before {
  content: "\e933";
}
.fl-gauge-regular:before {
  content: "\e934";
}
.fl-gauge-solid:before {
  content: "\e935";
}
.fl-medal-regular:before {
  content: "\e936";
}
.fl-medal-solid:before {
  content: "\e937";
}
.fl-store-regular:before {
  content: "\e938";
}
.fl-store-solid:before {
  content: "\e939";
}
.fl-verified-regular:before {
  content: "\e93a";
}
.fl-verified-solid:before {
  content: "\e93b";
}
.fl-dmo-regular:before {
  content: "\e93c";
}
.fl-barcode-regular:before {
  content: "\e93d";
}
.fl-barcode-solid:before {
  content: "\e93e";
}
.fl-expand-glass-ragular:before {
  content: "\e93f";
}
.fl-floater-regular:before {
  content: "\e940";
}
.fl-futbol-regular:before {
  content: "\e941";
}
.fl-garantia-25-regular:before {
  content: "\e942";
}
.fl-home-regular:before {
  content: "\e943";
}
.fl-home-solid:before {
  content: "\e944";
}
.fl-location-dot-regular:before {
  content: "\e945";
}
.fl-location-dot-solid:before {
  content: "\e946";
}
.fl-moto-regular:before {
  content: "\e947";
}
.fl-two-card-regular:before {
  content: "\e948";
}
.fl-arrows-rotate-regular:before {
  content: "\e949";
}
.fl-bat-regular:before {
  content: "\e94a";
}
.fl-bat-solid:before {
  content: "\e97d";
}
.fl-circle-question-regular:before {
  content: "\e94b";
}
.fl-circle-question-solid:before {
  content: "\e97e";
}
.fl-clock-regular:before {
  content: "\e94c";
}
.fl-clock-solid:before {
  content: "\e97c";
}
.fl-descount-regular:before {
  content: "\e94d";
}
.fl-fire-regular:before {
  content: "\e94e";
}
.fl-fire-solid:before {
  content: "\e97f";
}
.fl-heart-regular:before {
  content: "\e94f";
}
.fl-heart-solid:before {
  content: "\e980";
}
.fl-lock-regular:before {
  content: "\e950";
}
.fl-motofeira-regular:before {
  content: "\e951";
}
.fl-shild-check-regular:before {
  content: "\e952";
}
.fl-tag-regular:before {
  content: "\e953";
}
.fl-tag-solid:before {
  content: "\e954";
}
.fl-truck-clock-regular:before {
  content: "\e955";
}
.fl-truck-clock-solid:before {
  content: "\e981";
}
.fl-users-regular:before {
  content: "\e956";
}
.fl-users-solid:before {
  content: "\e982";
}
.fl-bag-regular:before {
  content: "\e957";
}
.fl-beauty-regular:before {
  content: "\e958";
}
.fl-credit-card-regular:before {
  content: "\e959";
}
.fl-garantia-feira-regular:before {
  content: "\e95a";
}
.fl-new-regular:before {
  content: "\e95b";
}
.fl-star-regular:before {
  content: "\e95c";
}
.fl-address-card-regular:before {
  content: "\e95d";
}
.fl-baby-boy-regular:before {
  content: "\e95e";
}
.fl-backpack-regular:before {
  content: "\e95f";
}
.fl-bolt-regular:before {
  content: "\e960";
}
.fl-bolt-solid:before {
  content: "\e983";
}
.fl-case-notebook-regular:before {
  content: "\e961";
}
.fl-christmas-regular:before {
  content: "\e962";
}
.fl-dress-regular:before {
  content: "\e963";
}
.fl-female-wallet-regular:before {
  content: "\e964";
}
.fl-headphone-regular:before {
  content: "\e965";
}
.fl-lingerie-regular:before {
  content: "\e966";
}
.fl-make-regular:before {
  content: "\e967";
}
.fl-male-wallet-regular:before {
  content: "\e968";
}
.fl-necessaire-regular:before {
  content: "\e969";
}
.fl-paper-regular:before {
  content: "\e96a";
}
.fl-toy-regular:before {
  content: "\e96b";
}
.fl-truck-fast-regular:before {
  content: "\e96c";
}
.fl-truck-fast-solid:before {
  content: "\e984";
}
.fl-utilities-regular:before {
  content: "\e96d";
}
